In [1]:
import pandas as pd

In [2]:
# Create a DataFrame
vine_csv = "./Resources/vine_table.csv"

# Read the data
vine_df = pd.read_csv(vine_csv)
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RDIJS7QYB6XNR,5.0,0.0,0.0,N,Y
1,R36ED1U38IELG8,5.0,0.0,0.0,N,Y
2,R1UE3RPRGCOLD,2.0,1.0,1.0,N,Y
3,R298788GS6I901,5.0,0.0,0.0,N,Y
4,RNX4EXOBBPN5,1.0,1.0,1.0,N,Y

In [3]:
# retrieve all the rows where the total_votes count is equalto or greater than 20
vine_df_total_votes = vine_df[vine_df["total_votes"] >= 20]
vine_df_total_votes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
356,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N

In [4]:
vine_df_total_votes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70474 entries, 104 to 4864246
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   review_id          70474 non-null  object
 1   star_rating        70474 non-null  float64
 2   helpful_votes      70474 non-null  float64
 3   total_votes        70474 non-null  float64
 4   vine               70474 non-null  object
 5   verified_purchase  70474 non-null  object
dtypes: float64(3), object(3)
memory usage: 3.8+ MB

In [5]:
# retrieve all the rowswhere the number of helpful_votes divided by total_votes is equal to or greater than 50%
vine_df_helpful = vine_df_total_votes[(vine_df_total_votes["helpful_votes"]/vine_df_total_votes["total_votes"]) >= 0.5]
vine_df_helpful.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
356,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N

In [6]:
# retrieve all the rows where a review was written as part of the Vine program (paid)
vine_df_program = vine_df_helpful[vine_df_helpful["vine"] == 'Y']
vine_df_program.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
356,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N
926,R2JM687C525WR9,3.0,33.0,33.0,Y,N
7569,RUB4AUWGHG16G,4.0,25.0,27.0,Y,N
20672,R1S3IDYJUA6V2G,5.0,28.0,32.0,Y,N

In [7]:
# retrieve all the rows where the review was not part of the Vine program (unpaid)
vine_df_program_N = vine_df_helpful[vine_df_helpful["vine"] == 'N']
vine_df_program_N.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
1176,R2LWX4TZ67FWPT,4.0,50.0,50.0,N,N
1515,R29IYHPYD14AGI,3.0,84.0,84.0,N,Y

In [8]:
#total number of reviews
vine_total = vine_df_helpful[vine_df_helpful.columns[0]].count()
# number of 5-star reviews
five_stars = vine_df_helpful[vine_df_helpful["star_rating"] == 5]

In [9]:
# percentage of 5-star reviews (paid)
five_stars_Y_ = vine_df_program[vine_df_program["star_rating"] == 5]
five_stars_Y = ((five_stars_Y_[five_stars_Y_.columns[0]].count())/vine_total)*100

In [10]:
# percentage of 5-star reviews (unpaid)
five_stars_N_ = vine_df_program_N[vine_df_program_N["star_rating"] == 5]
five_stars_N = ((five_stars_N_[five_stars_N_.columns[0]].count())/vine_total)*100

In [12]:
#Summary dataframe
vine_anlysis_review = pd.DataFrame({'Total_Reviews': [vine_total],
                      '5_stars': [five_stars[five_stars.columns[0]].count()],
                      'Vine_Y':  [vine_df_program[vine_df_program.columns[0]].count()],
                      'Vine_N':  [vine_df_program_N[vine_df_program_N.columns[0]].count()], 
                      'Vine_Y_5_Stars':  [(five_stars_Y_[five_stars_Y_.columns[0]].count())],
                      'Vine_N_5_Stars':  [(five_stars_N_[five_stars_N_.columns[0]].count())],             
                      'Perc_5_stars_vine_Y':  [five_stars_Y],
                      'Perc_5_stars_vine_N': [five_stars_N]
                     })
vine_anlysis_review

,Total_Reviews,5_stars,Vine_Y,Vine_N,Vine_Y_5_Stars,Vine_N_5_Stars,Perc_5_stars_vine_Y,Perc_5_stars_vine_N
0,63294,30414,1266,62028,432,29982,0.682529,47.369419